[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
openpyxl = "*"
drf-yasg = "*"
requests = "*"
django-q = "*"
python-memcached = "*"

[requires]
python_version = "3.8.1"
