<div id="page1-div" style="position:relative;width:892px;height:1263px;">
			<p style="position:absolute;top:33px;left:43px;white-space:nowrap" class="ft10"><b>Акт&#160;№&#160;81654&#160;&#160;от&#160;30&#160;ноября&#160;2019г.</b></p>
			<p style="position:absolute;top:75px;left:43px;white-space:nowrap" class="ft11">Исполнитель:</p>
			<p style="position:absolute;top:75px;left:146px;white-space:nowrap" class="ft16"><b>ООО &#34;ЭкоТек&#34;, ИНН 4217127183,&#160;КПП&#160;421701001,&#160;654079, Кемеровская&#160;область&#160;- Кузбасс,&#160;<br/>г.Новокузнецк, пр-д&#160;Коммунаров, 2, тел.:&#160;88005505242,&#160;р/сч&#160;40702810513030000704, в&#160;банке&#160;<br/>ФИЛИАЛ&#160;БАНКА ВТБ&#160;(ПАО)&#160;В Г.КРАСНОЯРСКЕ, БИК 040407777, к/сч&#160;30101810200000000777&#160;</b></p>
			<p style="position:absolute;top:139px;left:43px;white-space:nowrap" class="ft11">Заказчик:</p>
			<p style="position:absolute;top:139px;left:146px;white-space:nowrap" class="ft16"><b>{{consumer}};ИНН&#160;422317205029,&#160;КПП&#160;<br/>________________________________________,&#160;Кемеровская&#160;область&#160;- Кузбасс, г&#160;Прокопьевск, пр-кт<br/>Шахтеров, д&#160;8,&#160;р/с&#160;________________________________________,&#160;в&#160;банке&#160;<br/>________________________________________,&#160;БИК&#160;________________________________________,&#160;к/с<br/>________________________________________</b></p>
			<p style="position:absolute;top:244px;left:42px;white-space:nowrap" class="ft11">Основание:</p>
			<p style="position:absolute;top:242px;left:132px;white-space:nowrap" class="ft12"><b>125874-2019/ТКО</b></p>

			<table style="position:absolute;top:287px;left:74px;border-collapse:collapse;text-align: center;width: 600px;" border="1" class="ft12">
				<thead>
					<tr>
						<th><b>№</b></th>
						<th><b>Наименование работ, услуг</b></th>
						<th><b>Кол-во</b></th>
						<th><b>Ед.</b></th>
						<th><b>Цена</b></th>
						<th><b>Итого</b></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Услуги по обращению с твердыми коммунальными отходами по договору №125874-2019/ТКО за ноябрь 2019г.</td>
						<td>{{kolvo}}</td>
						<td>м3</td>
						<td>{{tariff}}</td>
						<td>{{summ}}</td>
					</tr>
				</tbody>  
			</table>

			<p style="position:absolute;top:355px;left:585px;white-space:nowrap" class="ft12"><b>Итого:</b></p>
			<p style="position:absolute;top:355px;left:637px;white-space:nowrap" class="ft12"><b>1495.33</b></p>
			<p style="position:absolute;top:373px;left:530px;white-space:nowrap" class="ft12"><b>В том&#160;числе НДС</b></p>
			<p style="position:absolute;top:370px;left:642px;white-space:nowrap" class="ft12"><b>249.22</b></p>
			<p style="position:absolute;top:391px;left:43px;white-space:nowrap" class="ft13">Всего&#160;оказано&#160;услуг&#160;&#160;1,&#160;на&#160;сумму&#160;1495.33&#160;руб.</p>
			<p style="position:absolute;top:407px;left:43px;white-space:nowrap" class="ft12"><b>Одна тысяча четыреста&#160;девяносто&#160;пять&#160;рублей&#160;тридцать&#160;три&#160;копейки</b></p>
			<p style="position:absolute;top:424px;left:43px;white-space:nowrap" class="ft13">Вышеперечисленные&#160;услуги&#160;выполнены&#160;полностью&#160;и&#160;в&#160;срок.&#160;Заказчик&#160;претензий&#160;по&#160;объему,&#160;качеству&#160;и&#160;срокам&#160;оказания&#160;услуг&#160;не&#160;имеет.</p>
			<p style="position:absolute;top:455px;left:43px;white-space:nowrap" class="ft14"><b>ИСПОЛНИТЕЛЬ</b></p>
			<p style="position:absolute;top:472px;left:43px;white-space:nowrap" class="ft12"><b>ООО &#34;ЭкоТек&#34;</b></p>
			<p style="position:absolute;top:532px;left:43px;white-space:nowrap" class="ft12"><b>____________________________</b></p>
			<p style="position:absolute;top:548px;left:43px;white-space:nowrap" class="ft18">Гвоздева&#160;М.Л.&#160;Доверенность<br/>б/н&#160;от&#160;01.10.2019г.</p>
			<p style="position:absolute;top:460px;left:537px;white-space:nowrap" class="ft14"><b>ЗАКАЗЧИК</b></p>
			<p style="position:absolute;top:481px;left:537px;white-space:nowrap" class="ft13">ИП&#160;Капустин&#160;Антон&#160;Александрович</p>
			<p style="position:absolute;top:526px;left:537px;white-space:nowrap" class="ft13">________________________________</p>
			<p style="position:absolute;top:605px;left:43px;white-space:nowrap" class="ft15">------------------------------------------------------------------------------------------------------------------------------------</p>
			<p style="position:absolute;top:643px;left:43px;white-space:nowrap" class="ft10"><b>Акт&#160;№&#160;81654&#160;&#160;от&#160;30&#160;ноября&#160;2019г.</b></p>
			<p style="position:absolute;top:686px;left:43px;white-space:nowrap" class="ft11">Исполнитель:</p>
			<p style="position:absolute;top:686px;left:146px;white-space:nowrap" class="ft16"><b>ООО &#34;ЭкоТек&#34;, ИНН 4217127183,&#160;КПП&#160;421701001,&#160;654079, Кемеровская&#160;область&#160;- Кузбасс,&#160;<br/>г.Новокузнецк, пр-д&#160;Коммунаров, 2, тел.:&#160;88005505242,&#160;р/сч&#160;40702810513030000704, в&#160;банке&#160;<br/>ФИЛИАЛ&#160;БАНКА ВТБ&#160;(ПАО)&#160;В Г.КРАСНОЯРСКЕ, БИК 040407777, к/сч&#160;30101810200000000777</b></p>
			<p style="position:absolute;top:750px;left:43px;white-space:nowrap" class="ft11">Заказчик:</p>
			<p style="position:absolute;top:750px;left:146px;white-space:nowrap" class="ft16"><b>ИП&#160;Капустин&#160;Антон&#160;Александрович,&#160;ИНН&#160;422317205029,&#160;КПП&#160;<br/>________________________________________,&#160;Кемеровская&#160;область&#160;- Кузбасс, г&#160;Прокопьевск, пр-кт<br/>Шахтеров, д&#160;8,&#160;р/с&#160;________________________________________,&#160;в&#160;банке&#160;<br/>________________________________________,&#160;БИК&#160;________________________________________,&#160;к/с<br/>________________________________________</b></p>
			<p style="position:absolute;top:855px;left:42px;white-space:nowrap" class="ft11">Основание:</p>
			<p style="position:absolute;top:853px;left:132px;white-space:nowrap" class="ft12"><b>125874-2019/ТКО</b></p>

			<table style="position:absolute;top:898px;left:74px;border-collapse:collapse;text-align: center;width: 600px;" border="1" class="ft12">
				<thead>
					<tr>
						<th><b>№</b></th>
						<th><b>Наименование работ, услуг</b></th>
						<th><b>Кол-во</b></th>
						<th><b>Ед.</b></th>
						<th><b>Цена</b></th>
						<th><b>Итого</b></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Услуги по обращению с твердыми коммунальными отходами по договору №125874-2019/ТКО за ноябрь 2019г.</td>
						<td>3.00000</td>
						<td>м3</td>
						<td>498.44</td>
						<td>1495.33</td>
					</tr>
				</tbody>  
			</table>

			<p style="position:absolute;top:966px;left:585px;white-space:nowrap" class="ft12"><b>Итого:</b></p>
			<p style="position:absolute;top:966px;left:637px;white-space:nowrap" class="ft12"><b>1495.33</b></p>
			<p style="position:absolute;top:984px;left:530px;white-space:nowrap" class="ft12"><b>В том&#160;числе НДС</b></p>
			<p style="position:absolute;top:982px;left:642px;white-space:nowrap" class="ft12"><b>249.22</b></p>
			<p style="position:absolute;top:1002px;left:43px;white-space:nowrap" class="ft13">Всего&#160;оказано&#160;услуг&#160;&#160;1,&#160;на&#160;сумму&#160;1495.33&#160;руб.</p>
			<p style="position:absolute;top:1018px;left:43px;white-space:nowrap" class="ft12"><b>Одна тысяча четыреста&#160;девяносто&#160;пять&#160;рублей&#160;тридцать&#160;три&#160;копейки</b></p>
			<p style="position:absolute;top:1036px;left:43px;white-space:nowrap" class="ft13">Вышеперечисленные&#160;услуги&#160;выполнены&#160;полностью&#160;и&#160;в&#160;срок.&#160;Заказчик&#160;претензий&#160;по&#160;объему,&#160;качеству&#160;и&#160;срокам&#160;оказания&#160;услуг&#160;не&#160;имеет.</p>
			<p style="position:absolute;top:1064px;left:43px;white-space:nowrap" class="ft14"><b>ИСПОЛНИТЕЛЬ</b></p>
			<p style="position:absolute;top:1081px;left:43px;white-space:nowrap" class="ft12"><b>ООО &#34;ЭкоТек&#34;</b></p>
			<p style="position:absolute;top:1156px;left:43px;white-space:nowrap" class="ft12"><b>____________________________</b></p>
			<p style="position:absolute;top:1172px;left:43px;white-space:nowrap" class="ft18">Гвоздева&#160;М.Л.&#160;Доверенность<br/>б/н&#160;от&#160;01.10.2019г.</p>
			<p style="position:absolute;top:1067px;left:515px;white-space:nowrap" class="ft14"><b>ЗАКАЗЧИК</b></p>
			<p style="position:absolute;top:1087px;left:515px;white-space:nowrap" class="ft13">ИП&#160;Капустин&#160;Антон&#160;Александрович</p>
			<p style="position:absolute;top:1132px;left:515px;white-space:nowrap" class="ft13">_______________________________</p>
		</div>

		<div id="page2-div" style="position:relative;width:892px;height:1263px;">

			<table class="ft17" border="1" style="position:absolute;top:52px;left:63px;width:600px;border-collapse:collapse;text-align: left;">
				<thead>
					<tr>
						<th rowspan="2">ФИЛИАЛ БАНКА& ВТБ (ПАО) В <br/> Г.КРАСНОЯРСКЕ <br /> Банк получателя</th>
						<th>БИК</th>
						<th rowspan="2">040407777 <br> 30101810200000000777</th>
					</tr>
					<tr>
						<th>Сч. №</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>ИНН 421701001 КПП 421701001 <br> ООО "ЭкоТек" <br> Получатель</td>
						<td>Сч. №</td>
						<td>40702810513030000704</td>
					</tr>
				</tbody>
			</table>
			
			<p style="position:absolute;top:261px;left:57px;white-space:nowrap" class="ft22"><b>Счет&#160;на&#160;оплату&#160;№&#160;143577&#160;от&#160;30&#160;ноября&#160;2019&#160;г.</b></p>
			<p style="position:absolute;top:301px;left:57px;white-space:nowrap" class="ft24">Поставщик<br/>(Исполнитель):&#160;<b>ООО &#34;ЭкоТек&#34;, ИНН 4217127183,&#160;КПП&#160;421701001,&#160;654079, Кемеровская&#160;область&#160;- Кузбасс,&#160;</b></p>
			<p style="position:absolute;top:332px;left:158px;white-space:nowrap" class="ft23"><b>г.Новокузнецк, пр-д&#160;Коммунаров, 2,&#160;тел.:&#160;88005505242</b></p>
			<p style="position:absolute;top:347px;left:57px;white-space:nowrap" class="ft24">Покупатель<br/>(Заказчик):</p>
			<p style="position:absolute;top:363px;left:158px;white-space:nowrap" class="ft25"><b>ИП&#160;Капустин&#160;Антон&#160;Александрович,&#160;ИНН&#160;422317205029,КПП&#160;<br/>________________________________________,&#160;Кемеровская&#160;область&#160;- Кузбасс, г&#160;Прокопьевск,&#160;<br/>пр-кт Шахтеров,&#160;д&#160;8,&#160;р/с&#160;________________________________________,&#160;в&#160;банке&#160;<br/>________________________________________,&#160;БИК&#160;<br/>________________________________________,&#160;к/с&#160;________________________________________</b></p>
			<p style="position:absolute;top:440px;left:57px;white-space:nowrap" class="ft20">Основание:</p>
			<p style="position:absolute;top:440px;left:163px;white-space:nowrap" class="ft20">125874-2019/ТКО</p>
			
			<p style="position:absolute;top:492px;left:95px;white-space:nowrap" class="ft23"><b>№</b></p>
			<p style="position:absolute;top:492px;left:156px;white-space:nowrap" class="ft23"><b>Товары&#160;(работы,&#160;услуги)</b></p>
			<p style="position:absolute;top:492px;left:368px;white-space:nowrap" class="ft23"><b>Кол-во</b></p>
			<p style="position:absolute;top:492px;left:487px;white-space:nowrap" class="ft23"><b>Ед.</b></p>
			<p style="position:absolute;top:492px;left:587px;white-space:nowrap" class="ft23"><b>Цена</b></p>
			<p style="position:absolute;top:492px;left:708px;white-space:nowrap" class="ft23"><b>Сумма</b></p>
			<p style="position:absolute;top:531px;left:61px;white-space:nowrap" class="ft21">1</p>
			<p style="position:absolute;top:517px;left:153px;white-space:nowrap" class="ft26">Услуги&#160;по&#160;обращению&#160;с&#160;ТКО<br/>125874-2019/ТКО&#160;за&#160;ноябрь&#160;<br/>2019г.</p>
			<p style="position:absolute;top:531px;left:394px;white-space:nowrap" class="ft21">3.00000</p>
			<p style="position:absolute;top:531px;left:523px;white-space:nowrap" class="ft21">м3</p>
			<p style="position:absolute;top:531px;left:619px;white-space:nowrap" class="ft21">498.44</p>
			<p style="position:absolute;top:531px;left:744px;white-space:nowrap" class="ft21">1495.33</p>

			<p style="position:absolute;top:593px;left:616px;white-space:nowrap" class="ft23"><b>Итого:&#160;</b></p>
			<p style="position:absolute;top:608px;left:544px;white-space:nowrap" class="ft23"><b>В том&#160;числе&#160;НДС:</b></p>
			<p style="position:absolute;top:624px;left:559px;white-space:nowrap" class="ft23"><b>Всего&#160;к оплате:</b></p>
			<p style="position:absolute;top:593px;left:736px;white-space:nowrap" class="ft23"><b>1495.33</b></p>
			<p style="position:absolute;top:608px;left:743px;white-space:nowrap" class="ft23"><b>249.22</b></p>
			<p style="position:absolute;top:624px;left:736px;white-space:nowrap" class="ft23"><b>1495.33</b></p>
			<p style="position:absolute;top:708px;left:57px;white-space:nowrap" class="ft24">Всего наименований&#160;1, на сумму&#160;1495.33000&#160;руб.<br/><b>Одна тысяча четыреста&#160;девяносто&#160;пять&#160;рублей&#160;тридцать&#160;три&#160;копейки</b></p>
			<p style="position:absolute;top:754px;left:57px;white-space:nowrap" class="ft20">Оплата данного счета означает&#160;согласие&#160;с условиями&#160;поставки&#160;товара&#160;(услуг)</p>
			<p style="position:absolute;top:814px;left:57px;white-space:nowrap" class="ft20">Руководитель&#160; &#160;&#160;&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;&#160; &#160; &#160; &#160; Бухгалтер</p>
			<p style="position:absolute;top:814px;left:482px;white-space:nowrap" class="ft20">&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;&#160;</p>
			<p style="position:absolute;top:814px;left:482px;white-space:nowrap" class="ft20">&#160;</p>
			<p style="position:absolute;top:814px;left:665px;white-space:nowrap" class="ft20">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</p>
			<p style="position:absolute;top:814px;left:669px;white-space:nowrap" class="ft20">&#160;</p>
			<p style="position:absolute;top:814px;left:690px;white-space:nowrap" class="ft20">&#160;&#160;</p>
			<p style="position:absolute;top:833px;left:149px;white-space:nowrap" class="ft27">Гвоздева&#160;М.Л.&#160;Доверенностьб/н&#160;от&#160;<br/>01.10.2019г.</p>
			<p style="position:absolute;top:833px;left:478px;white-space:nowrap" class="ft27">Гвоздева&#160;М.Л.&#160;Доверенность<br/>б/н&#160;от&#160;01.10.2019г.</p>
		</div>